<!--
  Generated template for the ChooseDriverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar align-title="center" color="primary">
    <ion-title>选择司机</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-searchbar placeholder="搜索司机" cancelButtonText="取消" [showCancelButton]="true" (ionFocus)="selectAll($event)" class="search_list">

    </ion-searchbar>
    <table class="driver_table">
      <tr class="table_tr">
        <th class="table_th">姓名</th>
        <th class="table_th">驾龄</th>
        <th class="table_th">评分</th>
      </tr>
      <tr class="table_tr" ng-repeat="item in views.taskPage[0].rows | filter:{cardNumber:views.searchName}"
          ng-click='chooseCar(item)'>
        <td class="table_th">{{this.name}}</td>
        <td class="table_th">{{this.year}}</td>
        <td class="table_th">{{this.rating}}</td>
      </tr>

    </table>
  </ion-list>
</ion-content>
