page-add-registration {
  .label {
    width: 100px;
    display: inline-block;
    font-size: 14px;
    color: #000000;
  }
  .input {
    text-align: right;
    text-wrap: revert;
  }
  .item{
    border: 0;
  }

  .input_label{
    width: auto;
    font-size: 15px;
  }



  .address-input {
    display: inline-block;
    width: 200px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #111;
  }



  .addAddressImg {
    float: right;
    width: 36px;
    height: 36px;
    margin: 6px 0px 10px;
    background: url("../../assets/imgs/icon_add.png") no-repeat center;
    -webkit-background-size: 18px;
    background-size: 18px;
  }


  .removeAddressImg {
    width: 36px;
    height: 36px;
    min-width: 36px;
    margin: 6px 0px 10px;
    background: url("../../assets/imgs/icon_delete.png") no-repeat center;
    -webkit-background-size: 18px;
    background-size: 18px;
    border: none;
  }

  .button-positive {
    line-height: 33px;
    min-width: 35px;
    min-height: 35px;
    padding: 0 10px;
    background:#387ef5;
    color:#e6e6e6;
  }
}
