page-member {
  .content {
    background: #f7f7f7;
  }
  .pic_div {
    margin-top: 15px;
  }
  .item-avatar {
    padding-right: 10px;
  }
  .user_header {
    border: 3px white solid;
    border-radius: 50%;
  }
  .member_name {
    border-bottom: 1px solid #ddd;
  }
  .name_span {
    font-size: 15px;
  }
  .arrow_color{
    color: #cccccc;
  }
}
