page-car-monitor {
  .content {
    background: #f7f7f7;
  }

  .map_div #searchDiv {
    overflow: scroll;
    position: fixed;
    width: 100%;
    left: 0;
    top: 15px;
    text-align: center;
  }

  .button-positive {
    line-height: 33px;
    min-width: 35px;
    min-height: 35px;
    padding: 0 10px;

  }

  .show {
    position: fixed;
    width: 95%;
    left: 0;
    bottom: 15px;
  }

  .showCon {
    display: flex;
    width: 100%;
    background: #fff;
  }

  .showCon-div {
    width:33.33%;
    border: 1px solid #ddd;
  }

  .p {
    margin: 0;
    text-align: center;
  }

  .p1 {
    color: #ef8364;
    font-size: 13px;
  }

  .p2 {
    color: #6aacd7;
    font-size: 13px;
  }

  .p3 {
    color: #df575f;
    font-size: 13px;
  }

  .p4 {
    color: #86c0c2;
    font-size: 13px;
  }

  .pCon {
    color: #444;
    font-size: 14px;
  }

  .twoli {
    position: relative;
    width:33.33%;
    border: 1px solid #ddd;
  }

  .twonav {
    position: absolute;
    width: 200px;
    background: #fff;
    left: 50%;
    bottom: 50px;
    margin: 0;
    padding: 0;
    margin-left: -100px;
    max-height: 400px;
    overflow: auto;
    display: none;
  }

  .twonav_li {
    position: relative;
    width: 100%;
    padding: 0;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
  }

  .twonav-li-div {
    display: flex;
    position: relative;
  }


  .twonav-li-a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    line-height: 25px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 10px;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
  }




  .search{
    width:85%;
    height: 30px;
    z-index: 1;
  }

  .icon {
    line-height: 32px;
  }


  .map_div_input {
    display: inline-block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 4px 0 4px;
    margin-right: -4px;
  }

  .position-btn {
    position: absolute;
    left: 5px;
    bottom: 20px;
    z-index: 1;
    font-size: 22px;
    padding: 3px 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
  }

  .map_container2{
    width: 100%;
    height: 100%;
  }
}
