page-home {
  .content_head {
    width: auto;
    height: auto;
    background: url("../../assets/imgs/BG.png") center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  .head_name {
    text-align: center;
    color: #fff;
    height:45px;
  }
  .pname {
    margin-bottom: 0;
    font-size: 15px;
  }
  .dept {
    font-size: 12px;
  }
  .rowtext{
    display: flex;
  }
  .header{
    color:white;
    text-align: center;
    font-size: 18px;
  }
  .menu_tit {
    text-align: center;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    margin: auto auto 5px;
  }
  .menu_box_out {
    overflow: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height:50px;
  }
  .box_img{
    height: 70px;
    width: 70px;
  }
  .signIn {
    background: #fafafa url('../../assets/imgs/signIn.png') no-repeat 5px center/16px 14px;
    height: 30px;
    width:25px;
  }
  .signInDis {
    background: #fafafa url('../../assets/imgs/signOut_dis.png') no-repeat 5px center/16px 14px;
    color: lightgray;
  }

  .ul {
    height: 200px;
    width:auto;
  }

  .li {
    border: 1px solid #ccc;
    text-align: center;
    height:150px;
    width: 33%;
    padding: 10px 10px;
    color: #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .loginicon {
    border: 3px solid #89d7f1;
    border-radius: 50%;
  }
  .loginicon_wrap {
    text-align: center;
    display: block;
  }

  .grid_size{
    margin-bottom: 10px;
  }

  .text{
    font-size: 15px;
  }
}
