page-modify-phone {
  .button-positive {
    text-align: center;
    line-height: 33px;
    min-width: 50px;
    min-height: 35px;
    padding: 0 30px;
    background:#387ef5;
    color:#e6e6e6;
  }
}
