page-report-table {
  .menu {
    width: auto;
    height:auto;
    background: #fff;
    overflow: hidden;
  }
  .content {
    background: #f7f7f7;
  }
  .ul {
    height: 120px;
    width:auto;
  }
  .li {
    float: left;
    height: auto;
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .li_img {
    width: 50px;
    height: 50px;
  }

}
