page-use-car-count {
  .button-positive {
    line-height: 33px;
    min-width: 35px;
    min-height: 35px;
    padding: 0 10px;
    background:#387ef5;
    color:#e6e6e6;
  }




  ion-datetime {
    color: #387ef5;
    text-align: right;
    button {
      position: relative !important;
    }

    .datetime-text {
      overflow: visible;
    }

    flex: 2;
  }

  .use_car_table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px dashed #ddd;
    border-bottom: 0;
  }
  .use_car_table th {
    width: 20%;
    height: 36px;
    color: #888;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px dashed #ddd;
  }
  .use_car_table td {
    color: #555;
    font-size: 12px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px dashed #ddd;
  }

}
