page-reset-password {
.content{
  background: #f7f7f7;
}
  .list{
    margin-top: 15px;
  }
  .input_label{
    width: 100%;
    font-size: 13px;
    border: none;
    position: relative;
    left: 0px;
  }
  .label{
    font-size: 15px;
  }
  .button-positive {
    line-height: 33px;
    min-width: 35px;
    min-height: 35px;
    padding: 0 10px;
    background:#387ef5;
    color:#e6e6e6;
  }
}
