page-choose-car {
  .content {
    background: #f7f7f7;
    padding-top: 10px;
  }
  .search_list{
    width: 100%;
  }
  .driver_table {
    font-family: '微软雅黑';
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 0;
  }
  .table_th {
    width: 33.3%;
    height: 40px;
    color: #666;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
  }
  .table_td {
    color: #555;
    font-size: 14px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
  }
  .table_tr {
    background: #fff;
  }

}
