page-driver-order-info {
  .content {
    background: #f7f7f7;
    padding-top: 10px;
  }
  .item-divider {
    font-size: 15px;
    font-weight: bold;
  }
  .item{
    color: #666;
    font-size: 15px;
  }
  .button-positive {
    line-height: 33px;
    min-width: 35px;
    min-height: 35px;
    padding: 0 10px;
    background:#387ef5;
    color:#e6e6e6;
    margin-bottom: 10px;
  }
}
