<!--
  Generated template for the DriverOrderInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>行程信息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-divider class="item-divider">
      <ion-label color="primary">申请信息</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        用车部门
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.deptName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        申&ensp;请&ensp;人
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.applicantName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        联系电话
      </ion-label>
      <ion-label text-end class="item" style="color: #000;" (click)="callNumber(this.applicantPhone)">{{this.applicantPhone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        乘车人数
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.passengerCount}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        用车事由
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.orderComment}}</ion-label>
    </ion-item>
    <ion-item *ngIf="workDescrip != null">
      <ion-label text-left class="input-label" color="dark">工作任务简述</ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.workDescrip}}</ion-label>
    </ion-item>
    <ion-item *ngIf="workDescrip == null">
      <ion-label text-left class="input-label" color="dark">工作任务简述</ion-label>
      <ion-label text-end class="item" style="color: #000;">暂无数据</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        出发时间
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.startTime}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        还车时间
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.finishTime}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        始发地
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.originAddress}}</ion-label>
    </ion-item>
    <ion-item *ngFor="let att of anArray; let idx = index">
      <ion-label text-start class="item">目的地{{idx}}</ion-label>
      <ion-label text-end type="text">att[idx]</ion-label>
    </ion-item>
    <div *ngIf="dispatcherShow == true">
      <ion-item>
        <ion-label>
          调度员备注
        </ion-label>
        <ion-label text-end class="item" style="color: #000;">{{this.dispatcherComment}}</ion-label>
      </ion-item>
    </div>
    <div *ngIf="carInfoShow == true">
    <ion-item-divider class="item-divider">
      <ion-label color="primary">车辆信息</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        调配车型
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.carType}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        厂牌型号
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.carBrand}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        车牌号码
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.plateNumber}}</ion-label>
    </ion-item>
    </div>
    <div *ngIf="driverInfoShow == true">
    <ion-item-divider class="item-divider">
      <ion-label color="primary">司机信息</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        名称
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.driverName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        联系电话
      </ion-label>
      <ion-label text-end class="item" style="color: #000;">{{this.phone}}</ion-label>
    </ion-item>
    </div>
    <div *ngIf="cancelInfoShow == true">
      <ion-item class="item-divider">
        <ion-label color="primary">正式出车</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          上次回场里程数
        </ion-label>
        <ion-label text-end class="item" style="color: #000;">{{this.mileage}}公里</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          实际里程数
        </ion-label>
        <ion-input placeholder="请输入公里数" [(ngModel)]="actualMileage" text-end class="item" style="color: #000;"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="driverInfoShow == true">
      <ion-item-divider class="item-divider">
        <ion-label color="primary">行程信息</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>
          开始时间
        </ion-label>
        <ion-label text-end class="item" style="color: #000;">{{this.startTime}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          开始里程
        </ion-label>
        <ion-label text-end class="item" style="color: #000;">{{this.startMileage}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          回场时间
        </ion-label>
        <ion-label text-end class="item" style="color: #000;">{{this.returnTime}}</ion-label>
      </ion-item>
    </div>
    <div *ngIf="showReturnDrive == true">
      <ion-item-divider class="item-divider">
        <ion-label color="primary">车辆回场</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>
          车辆回场里程
        </ion-label>
        <ion-input placeholder="请输入公里数" [(ngModel)]="returnMileage" text-end class="item" style="color: #000;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          本次累计出车里程
        </ion-label>
        <ion-input placeholder="请输入公里数" [(ngModel)]="driverMileage" text-end class="item" style="color: #000;"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="showFee == true">
      <ion-item-divider class="item-divider">
        <ion-label color="primary">相关费用</ion-label>
      </ion-item-divider>
      <ion-item *ngIf="showParkingFeeInput == true">
        <ion-label>
          停车保管费
        </ion-label>
        <ion-input placeholder="请输入停车保管费" [(ngModel)]="driverMileage" text-end class="item" style="color: #000;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          停车保管费
        </ion-label>
        <ion-label text-end class="item" style="color: #000;">{{this.parkingFee}}元</ion-label>
      </ion-item>
    </div>
  </ion-list>
  <button class="button button-block button-positive" *ngIf="showStartDrive == true" full (click)="start()">
    开始出车
  </button>
  <button class="button button-block button-positive" *ngIf="showFinishDrive == true" full (click)="finish()">
    结束用车
  </button>
  <button class="button button-block button-positive" *ngIf="showReturnDrive == true" full (click)="return()">
    车辆回场
  </button>
  <button class="button button-block button-positive" *ngIf="showCancelSelector == true" full (click)="showCancelApply()">
    取消申请
  </button>
  <button class="button button-block button-positive" *ngIf="showAcceptAndReject == true" full (click)="accept()">
    接受
  </button>
  <button class="button button-block button-positive" *ngIf="showAcceptAndReject == true" full (click)="reject()">
    拒绝
  </button>
</ion-content>
